@import url('https://fonts.googleapis.com/css2?family=Philosopher:wght@700&family=Poppins:wght@300;400;500&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  box-sizing: border-box;
  transition: 0.2s linear;
  text-transform: capitalize;
  font-family: "Poppins", sans-serif;
}
body{
 background: #000;
}
.btn{
  margin-top: 2rem;
  padding: 12px;
  color: #fff;
  font-size: 16px;
  border-radius: 4px;
  cursor: pointer;
}
.btn:hover{
  background: rgba(212, 48, 48, 0.76);
  transition: 0.4s;
}

.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  padding: 1.5rem 8%;
  display: flex;
  align-items: center;
  color: #fff;
  justify-content: space-between;
  background-color: white;
}
.header .logo{
  font-size: 30px;
  font-weight: bolder;
  color:#ec4141;
  padding-right: 10px;
  margin-right: 20rem;
}
.header .logo i{
  color: #000;
  padding: 0.5rem;
}

.header .logo i:hover{
  text-shadow: 2px;
  color: #000;
}

.header .navbar {
  display: flex;
  align-items: center;
}



.header .navbar a{
  font-size: 1.1rem;
  margin: 0 10px;
  color: #000;
}
.header .navbar a:hover{
  color: #ec4141;
}
.header .btn{
  background: transparent;
  //color: tomato;
  border: 2px solid #ec4141;
  font-size: 12px;
  padding: 8px;
}

.max-width{
  max-width: 1300px;
  padding: 0 80px;
  margin: auto;
}
section{
  padding: 50px 0 50px 0;
}
.home{
  display: flex;
}
.home .max-width{
  width: 100%;
  display: flex;
}
.home .home-content{
  width: 50%;
  padding: 1rem;
  
}
.home h3{
  color: #fff;
  margin-top: 6rem;
  font-size: 5rem;
  font-family: 'georgia', sans-serif;
}
.home p{
  color: rgb(194, 191, 191);
  margin-top: 1.5rem;
  font-size: 14px;
}
.home .home-image{
  width: 50%;
}
.home .home-image img{
  width: 100%;
  height: 100%;
  background: transparent;
  font-size: 12px;
  padding: 8px;
}

.button-87 {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: #000;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 5px 5px 14px -7px #ec4141;
background-color: #ec4141;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-87:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

.button-87:active {
  transform: scale(0.95);
}


hr {
  border: 0;
  height: 6px;
  background:#ec4141 ; 
  margin: 20px 0;
}

/* footer */

.footer{
	background-color: white;
    padding: 40px 0;
}
.footer-col{
   width: 20%;
   padding: 0 15px;
}
.footer .footerText{
    margin-inline: 0px;
    margin-top: 13px;
    margin-bottom: 3px;
}
.footerText p{
    top: 92px;
}

.footer-col h4{
	font-size: 18px;
	color: #000000;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #e91e63;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}
.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}
.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: grey;
	text-decoration: none;
	font-weight: 300;
	color: #000;
	display: block;
	transition: all 0.3s ease;
}
.footer-col ul li a:hover{
	color: darkslategray;
	padding-left: 8px;
}
.footer-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: black;
	margin:0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: white;
	transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
	color: #24262b;
	background-color: DeepSkyBlue;
}



.container{
	max-width: 1300px;
	margin:auto;
}
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}